*{
    padding: 0;
    margin: 0;
}
body{
    /* font-size: rem; */
    text-align: center;
    color: white;
    /* background-color: #3D405B; */
    /* background-image: url("Images/Hero-Back.jpg"); */
    background-color: rgb(13, 0, 40);
    /* background: linear-gradient(rgb(255, 79, 237),rgb(0, 0, 47)); */
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 2000vw 100vh; */
}
/* .background{
    width: 500px;
    position: center;
    margin: 0px auto;
    border-radius: 25%;
    background-size: cover;
 */
h1{
    font-size: 12vh;
    color:rgb(0, 255, 255);
    margin-bottom: 40px;
}
#welcome{
    font-size: 20px;
    margin-bottom: 50px;
    color:rgb(213, 133, 4);
}
button{
    font-size: 1.5rem;
    padding: 0 0.8rem;
    color: black;
    background-color:rgb(213, 133, 4);
    border: none;
    border-radius: 10px;
    margin: 4vh;
}
h3{
    font-size: 40px;
    color:rgba(229, 217, 254, 0.916);
    position: relative;
    z-index: 10;
    /* text-shadow:2cap white; */
    margin-bottom: 20px;
}
input{
    background-color:rgba(88, 164, 211, 0.304);
    text-align: center;
    border: none;
    border-radius: 25px;
    font-size: 30px;
}

.login {
    margin-top: 4vh;
    color:rgba(255, 255, 255, 0.674);
}

a{
    font-weight: 100;
    color: rgb(250, 250, 203);
    text-decoration: none;
}